* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    background-color: aqua;
    padding:2rem;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: cadetblue;
}

nav li {
    display: inline-block;
    padding:15px 20px;
    color:white;
    cursor:pointer;
}

nav li.login {
    margin-left: auto;
}

nav li:hover  {
    background-color: aliceblue;
    color:blue
}

footer {
    background-color:blue;
    color:white;
    text-align:center;
    padding:1rem;
}






