<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>나라상사 고객관리</title>
</head>

<header th:fragment="headerFragment">
    <h1>나라상사 고객관리 시스템 2021</h1>
</header>
<nav th:fragment="navFragment">
    <ul>
        <li>Home</li>
        <li>주문관리</li>
        <li class="pay">결제관리</li>
        <li class="login">로그인</li>
    </ul>
</nav>

<footer th:fragment="footerFragment">
    <address>CopyRight &copy; callor@callor.com</address>
</footer>