
form {
    width: 80%;
    margin:10px auto;
    padding:1rem;
}

fieldset {
    border:1px solid blue;
    border-radius: 10px;
    padding:10px 30px;
    color:green;
}

legend {
    margin:10px;
    padding:0px 10px;
}

button {
    display: inline-block;
    margin:5px;
    padding : 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 5px;
}
button:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

div.input {
    width: 80%;
    display: flex;
    padding:5px;
    margin:5px auto;
}

div.input input, div.input label {
    display: inline-block;
    margin:0px 5px;
    padding: 8px;
}

div.input input {
    flex:1;
    border:1px solid #ddd;
    outline: 0;
    border-radius: 5px;
}

div.input label {
    text-align: right;
    color:blue;
    font-weight: bold;
}

div.btn_box.right {
    text-align: right;
    justify-content: right;
}
div.btn_box.left {
    text-align: left;
    justify-content: left;
}

form.readbook_write button.save {
    background-color: #3498DB;
    color:white;
}

form.readbook_write button.reset {
    background-color: #D35400;
    color:white;
}

form.readbook_write button.list {
    background-color: #F1C40F;
}

form.login_form button.login {
    background-color: green;
    color:white;
}








