* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 30vh;
    background-image: url("../images/headerbackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 3px 3px 3px rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 2px black;
    color:white;
}
section.content {
    flex:1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: blue;
    color:white;
    text-align: center;
    padding:0.7rem;
}