<html lang="ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>

<section layout:fragment="content">
    <table class="buyer_list">
        <thead>
        <tr>
            <th>고객ID</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>담당자명</th>
            <th>담당자전화번호</th>
            <th>매출합계(만원)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="buyer_tr" th:each="USER : ${USERS}" th:data-id="${USER.userid}">
            <td th:text="${USER.userid}">B001</td>
            <td th:text="${USER.name}">롯데상사</td>
            <td th:text="${USER.tel}">02-222-9999</td>
            <td th:text="${USER.address}">서울시 영등포구</td>
            <td th:text="${USER.manager}">홍길동</td>
            <td th:text="${USER.man_tel}">010-9999-8766</td>
            <td th:text="${USER.buy_total}">91,000</td>
        </tr>
        </tbody>
    </table>
</section>
</html>