<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout}"
>
<section layout:fragment="content" class="buyer_detail">
    <script th:inline="javascript">
        /*
          javascript 코드에서 thymeleaf template 변수를 사요하기 위해서는
          html 에서 해당 값을 js 변수로 다시 변환 시켜줘야 한다
          // var rootPath = ${context.request.pageRequst}

          이 변환 작업을 하기 위해서는 script 에
          th:line="javascript"  속성을 추가한다
        */
        const userid = /*[[ ${BUYER.userid} ]]*/ null
    </script>

    <div>
        <label >ID</label><span th:text="${BUYER.userid}">B0001</span>
        <label>이름</label><span  th:text="${BUYER.name}">홍길동</span>
    </div>
    <div>
        <label>전화번호</label><span  th:text="${BUYER.tel}">02-111</span>
        <label>주소</label><span  th:text="${BUYER.address}">서울시</span>
    </div>
    <div>
        <button class="btn_update">고객정보 수정</button>
        <button class="btn_delete btn_warring">고객정보 삭제</button>
    </div>
</section>