<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="fragment/headerAndFooter :: headFragment"></th:block>
<body>
<th:block th:replace="fragment/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragment/headerAndFooter :: navFragment"></th:block>

<section>
    <table class="buyer_list">
        <thead>
        <tr>
            <th>고객ID</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>담당자명</th>
            <th>담당자전화번호</th>
            <th>매출합계(만원)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>B001</td>
            <td>롯데상사</td>
            <td>02-222-9999</td>
            <td>서울시 영등포구</td>
            <td>홍길동</td>
            <td>010-9999-8766</td>
            <td>91,000</td>

        </tr>
        <tr>
            <td>B002</td>
            <td>삼부상사</td>
            <td>062-526-9988</td>
            <td>광주시 북구</td>
            <td>이몽룡</td>
            <td>010-9876-6781</td>
            <td>2,900</td>
        </tr>
        </tbody>
    </table>
</section>
<th:block th:replace="fragment/headerAndFooter :: footerFragment"></th:block>

</body>
</html>